.filter-popup {
  width: 30rem;
  min-height: 15rem;
  max-height: auto;
  padding: 1rem;
  background-color: white;
  position: absolute;
  right: 5rem;
  top: 9rem;
  z-index: 20;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  &__header {
    &__close-btn {
      position: absolute;
      right: 1rem;
      top: 1.2rem;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }

  &__children-container {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    width: 100%;
    margin-top: 1rem;
    & > * {
      margin-top: 1rem;
    }
  }

  @media (max-width: 600px) {
    width: 25rem;
  }
  @media (max-width: 500px) {
    right: 2rem;
    width: 22.5rem;
  }
  @media (max-width: 400px) {
    right: 1.5rem;
    width: 20rem;
  }
  @media (max-width: 350px) {
    right: 1.25rem;
    width: 17.5rem;
  }
  @media (max-width: 305px) {
    right: 1.5rem;
    width: 15rem;
  }
}
