.form__action__button {
  margin-top: 2rem;
}
.form-container {
  background-color: #1890ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  &__flex {
    background-color: white;
    height: 99vh;
    width: 100%;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
  }
}

.input-row {
  // display: flex !important;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  // border: 1px solid black;
  width: 100%;
  position: relative;
  &__icon-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -4rem;
    top: 50%;
    transform: translateY(-40%);
    color: black;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}
